<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zcx.learnapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name="com.zcx.learnapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zcx.learnapp.activity.AndroidQActivity" />
        <activity android:name="com.zcx.learnapp.activity.BlankActivity" />
        <activity android:name="com.zcx.learnapp.activity.VideoActivity" />
        <activity android:name="com.zcx.learnapp.activity.DialogTestActivity" />
        <activity android:name="com.zcx.learnapp.activity.LubanActivity" />
        <activity android:name="com.zcx.learnapp.activity.ImageActivity" />
        <activity android:name="com.zcx.learnapp.activity.AndroidRActivity" />
        <activity android:name="com.zcx.learnapp.activity.LevelViewActivity" />
        <activity android:name=".activity.HomeTestActivity" />
        <activity android:name=".activity.ListTestActivity" />
        <activity android:name=".activity.GuideActivity" />
    </application>

</manifest>